body {
   margin: 0;
   font-family: "Poppins", sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #6F6F6F;
   text-align: left;
   background-color: #fff;
 }
.slider img, .card-image{
   height: 450px;
   object-fit: cover; 
}

/* Login form css */

.loginForm{
   padding: 50px 40px;
}